/*html {*/
/*    zoom: .8;*/
/*}*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

.zoomedElement {
    zoom: revert;
}

body {
    min-height: 100vh;
    /*color: var(--color-text);*/
    /*background: var(--color-background);*/
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("data:image/svg+xml;utf8,<svg width='75%' height='75%' id='background' xmlns='http://www.w3.org/2000/svg' class= 'transition duration-300 ease-in-out delay-150' > <defs> <linearGradient id= 'gradient' x1= '0%' y1= '57%' x2= '100%' y2= '43%' > <stop offset= '5%' stop-color= '%23082e7366' /> <stop offset= '95%' stop-color= '%2325a8d666' /> </linearGradient> </defs> <path d= 'M 0,600 C 0,600 0,150 0,150 C 95.00478468899522,144.3444976076555 190.00956937799043,138.68899521531102 295,126 C 399.99043062200957,113.31100478468899 514.9665071770335,93.58851674641147 608,115 C 701.0334928229665,136.41148325358853 772.1244019138757,198.9569377990431 852,204 C 931.8755980861243,209.0430622009569 1020.5358851674641,156.58373205741628 1120,138 C 1219.4641148325359,119.41626794258373 1329.732057416268,134.70813397129186 1440,150 C 1440,150 1440,600 1440,600 Z' stroke= 'none' stroke-width= '0' fill= 'url(%23gradient)' class= 'transition-all duration-300 ease-in-out delay-150 path-0' transform= 'rotate(-180 720 300)' /> <defs> <linearGradient id= 'gradient' x1= '0%' y1= '57%' x2= '100%' y2= '43%' > <stop offset= '5%' stop-color= '%23082e7388' /> <stop offset= '95%' stop-color= '%2325a8d688' /> </linearGradient> </defs> <path d= 'M 0,600 C 0,600 0,300 0,300 C 73.55980861244021,278.488038277512 147.11961722488041,256.97607655502395 257,274 C 366.8803827751196,291.02392344497605 513.0813397129187,346.5837320574162 619,356 C 724.9186602870813,365.4162679425838 790.555023923445,328.688995215311 872,323 C 953.444976076555,317.311004784689 1050.6985645933014,342.66028708133973 1148,344 C 1245.3014354066986,345.33971291866027 1342.6507177033493,322.66985645933016 1440,300 C 1440,300 1440,600 1440,600 Z' stroke= 'none' stroke-width= '0' fill= 'url(%23gradient)' class= 'transition-all duration-300 ease-in-out delay-150 path-1' transform= 'rotate(-180 720 300)' /> <defs> <linearGradient id= 'gradient' x1= '0%' y1= '57%' x2= '100%' y2= '43%' > <stop offset= '5%' stop-color= '%23082e73ff' /> <stop offset= '95%' stop-color= '%2325a8d6ff' /> </linearGradient> </defs> <path d= 'M 0,600 C 0,600 0,450 0,450 C 66.14354066985646,460.5837320574162 132.28708133971293,471.1674641148325 249,479 C 365.7129186602871,486.8325358851675 532.9952153110047,491.91387559808607 629,501 C 725.0047846889953,510.08612440191393 749.732057416268,523.177033492823 831,505 C 912.267942583732,486.822966507177 1050.0765550239234,437.377990430622 1161,423 C 1271.9234449760766,408.622009569378 1355.9617224880383,429.311004784689 1440,450 C 1440,450 1440,600 1440,600 Z' stroke= 'none' stroke-width= '0' fill= 'url(%23gradient)' class= 'transition-all duration-300 ease-in-out delay-150 path-2' transform= 'rotate(-180 720 300)' /> </svg> ") }

