* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background: url("../img/background.jpg") no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    padding: 20px;

    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.form__title-logo {
    margin-right: 10px;
    max-width: 40px;
}

.form__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__title-title {
    font-size: 40px;
    background: linear-gradient(45deg, #033083 33%, #25a8d6 66%, #25a8d6);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #033083;

    text-align: center;
}

h2 {
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

@media screen and (max-device-width: 480px) {
    .form {
        max-width: 85%;
    }
}