.page {
    width: 100%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, sans-serif;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}


a {
    text-decoration: none;
}

.form__title-logo {
    margin-right: 10px;
    max-width: 40px;
}

.form__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.form__title-title {
    font-size: 35px;
    background: linear-gradient(45deg, #033083 33%, #25a8d6 66%, #25a8d6);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.text {
    text-indent: 5mm;
    max-width: 1000px;
    font-size: 18px;
}

.text__text {
    margin: 0 0 10px;
    padding: 0;
    font-size: 18px;
}

.li {
    list-style: none;
    text-align: left;
}

.text__span {
    font-weight: 900;
}

.button__div {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}

.button {
    border: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, #033083 33%, #0078ac 66%, #25a8d6);
    color: #bbe9fa;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    font-family: sans-serif;
}

.button:hover {
    background: linear-gradient(45deg, #25a8d6 33%, #0078ac 66%, #033083);
}

@media screen and (max-device-width: 480px) {
    .form {
        max-width: 85%;
        padding: 15px;
    }

    .text__text {
        font-size: 15px;
    }
}

.centered {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.title_grad {
    font-size: 90px;
    background: linear-gradient(45deg, #033083 33%, #25a8d6 66%, #25a8d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
    margin-bottom: 20%;
}