.page {
    width: 100%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #033083;
}

.title {
    font-size: 40px;
    background: linear-gradient(45deg, #033083 33%, #25a8d6 66%, #25a8d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 950px;
    margin: 20px auto;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header__right {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-right: 40px;
}

.logo {
    width: 60px;
    height: 60px;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    margin-left: 25px;
}

.header__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button__exit {
    max-height: 25px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, #033083 33%, #0078ac 66%, #25a8d6);
    color: #bbe9fa;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    font-family: sans-serif;
}

.button:hover {
    background: linear-gradient(45deg, #25a8d6 33%, #0078ac 66%, #033083);
}

/* info */

.info {
    max-width: 700px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* profile */

.profile {
    display: flex;
    justify-content: center;
}

.profile__info {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.profile__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    margin: auto;
}

.profile__info_fio {
    margin: 10px auto 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
}

.profile__info_nickname {
    margin: 10px auto 0;
    text-align: center;
    font-size: 30px;
}

.stats__list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.stats__list-span {
    font-weight: bold;
}

.profile__stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button__dwnld {
    width: 220px;
    outline: none;
    font-size: 20px;
}

/* Табличка */

.container {
    margin: 30px auto;
}

.table {
    margin: 10px auto;
    max-width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.column,
.cell {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.column {
    text-align: left;
}

.thead .column {
    background: #25a3dabb;
}

.tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbody .cell {
    position: relative;
}

.tbody .cell:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.cloud {
    margin: 0 auto;
    max-width: 1200px;
    height: 500px
}

.line {
    margin: 0 auto;
    max-width: 1200px;
    height: 500px
}


@media screen and (max-device-width: 480px) {
    .title {
        font-size: 30px;
    }


    .header__left {
        margin-left: 20px;
    }

    .profile__info_nickname {
        font-size: 20px;
    }

    .profile__info {
        margin-right: 10px;
    }

    .profile__info_fio {
        font-size: 15px;
    }

    .column {
        text-overflow: ellipsis;
        max-width: 80px;
    }


    .column,
    .cell {
        padding: 5px;
        font-size: 15px;
    }

    .info {
        padding-left: 0;
        padding-right: 0;
    }

    .stats__list_li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .button__dwnld {
        width: 110px;
        font-size: 15px;
        padding: 2px 4px;
        height: 40px;
    }
}