.box {
    min-width: 500px;
    width: 40%;
    height: 98%;
    justify-content: center;
    background-color: white;
    border-radius: 40px;
    border: 3px solid #033083;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(3, 48, 131, 0.98);

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #033083;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #25a8d6;
}

.button {
    float: right;
    width: 6vw;
    height: 2.5vw;
    margin-left: 20px;
    margin-top: 20px;
}

.search_box {
    width: 18vw;
    margin-top: 24px;
    margin-left: 4%;
    font-size: 20px;
    float: left;
    color: #033083;
    border: none;
    border-bottom: 1px solid #033083;
    outline: none;
    background: transparent;
}

hr {
    width: calc(100% + 30px);
    color: #033083;
    background: #033083;
    height: 5px;
    opacity: 100%;
    border-radius: 10px;
    margin-left: -15px;
}

.profile_title_grad {
    font-size: 70px;
    background: linear-gradient(45deg, #033083 33%, #25a8d6 66%, #25a8d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 950px;
    margin: 20px auto 0;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header__right {
    display: flex;
    flex-direction: column;
    margin: auto 40px auto 0;
}

.logo {
    width: 60px;
    height: 60px;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 25px;
}

.header__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button__exit {
    max-height: 25px;
}

.button {
    /*display: inline-flex;*/
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50px;
    background: #033083;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 22px;
    cursor: pointer;
    font-family: sans-serif;
}


/* info */

.info {
    max-width: 700px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


/* Табличка */

.container {
    margin: 30px auto;
}

.table {
    margin: 10px auto;
    height: 90%;
    max-width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 20px;
}

.column,
.cell {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.column {
    text-align: left;
}

.thead .column {
    background: #25a3dabb;
}

.tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbody .cell {
    position: relative;
}

.tbody .cell:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.cloud {
    margin: 0 auto;
    max-width: 1200px;
    height: 500px
}

.line {
    margin: 0 auto;
    max-width: 1200px;
    height: 500px
}


@media screen and (max-device-width: 480px) {
    .title {
        font-size: 30px;
    }


    .header__left {
        margin-left: 20px;
    }

    .profile__info_nickname {
        font-size: 20px;
    }

    .profile__info {
        margin-right: 10px;
    }

    .profile__info_fio {
        font-size: 15px;
    }

    .column {
        text-overflow: ellipsis;
        max-width: 80px;
    }


    .column,
    .cell {
        padding: 5px;
        font-size: 15px;
    }

    .info {
        padding-left: 0;
        padding-right: 0;
    }

    .stats__list_li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .button__dwnld {
        width: 110px;
        font-size: 15px;
        padding: 2px 4px;
        height: 40px;
    }
}



