<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div th:fragment="proccess-parse" class="parse">
  <ul class="stats__list">
    <li>Идет процесс парсинга... Напоминаю, можно не более 100 сообщений в секунду. Можно идти
      пить чай :)
    </li>
    <li>Получено сообщений: <span class="stats__list-span"
                                  th:text="${countMessage}"> 123123123</span>
    </li>
    <li>Дата последнего сообщения: <span class="stats__list-span" th:text="${date}"> 16</span>
    </li>
  </ul>
</div>

<div th:fragment="success-parse" class="done">
  <section class="profile" th:object="${profileStats}">
    <div class="profile__info">
      <img class="profile__photo" src="./img/background.png" th:src="*{photoPath}">

      <h1 class="profile__info_fio" th:text="*{name}">Фамилия Имя Отечество</h1>
      <h2 class="profile__info_nickname" th:text="*{nickname}">Никнейм</h2>

    </div>
    <div class="profile__stats">
      <ul class="stats__list">
        <li>Всего сообщений: <span class="stats__list-span" th:text="*{infoStats.allMessage}"> 432432</span>
        </li>
        <li>Исходящих: <span class="stats__list-span" th:text="*{infoStats.outgoingMessage}"> 123123123</span>
        </li>
        <li>Входящих: <span class="stats__list-span"
                            th:text="*{infoStats.incomingMessage}"> 16</span></li>
        <li>Первое сообщение: <span class="stats__list-span"
                                    th:text="*{infoStats.dateFirstMessage}"> 432432</span></li>
        <li>Среднее количество: <span class="stats__list-span"
                                      th:text="*{infoStats.countAverageMessage}"> 123123</span></li>
        <li>Пиковое количество: <span class="stats__list-span"
                                      th:text="*{infoStats.countMaxMessage}"> 16</span></li>
        <li>Общительные дни: <span class="stats__list-span" th:text="*{infoStats.countDaysMessage}"> 16</span>
        </li>
      </ul>
      <button class="button button__dwnld" onclick="restart()">Обновить статистику</button>
    </div>
  </section>

  <div class="container">
    <table class="table">
      <thead class="thead">
      <tr>
        <th class="column">Категория</th>
        <th class="column">Всего</th>
        <th class="column">Исходящих</th>
        <th class="column">Входящих</th>
      </tr>
      </thead>
      <tbody class="tbody" th:object="${profileStats}">
      <tr>
        <td class="cell">Слова</td>
        <td class="cell" th:text="*{infoStats.allWord}">Cell 2</td>
        <td class="cell" th:text="*{infoStats.outgoingWord}">Cell 3</td>
        <td class="cell" th:text="*{infoStats.incomingWord}">Cell 4</td>

      </tr>
      <tr>
        <td class="cell">Символы</td>
        <td class="cell" th:text="*{infoStats.allSymbol}">Cell 2</td>
        <td class="cell" th:text="*{infoStats.outgoingSymbol}">Cell 3</td>
        <td class="cell" th:text="*{infoStats.incomingSymbol}">Cell 4</td>

      </tr>
      <tr>
        <td class="cell">Аудио</td>
        <td class="cell" th:text="*{infoStats.allAudio}">Cell 2</td>
        <td class="cell" th:text="*{infoStats.outgoingAudio}">Cell 3</td>
        <td class="cell" th:text="*{infoStats.incomingAudio}">Cell 4</td>

      </tr>
      <tr>
        <td class="cell">Стикеры</td>
        <td class="cell" th:text="*{infoStats.allSticker}">Cell 2</td>
        <td class="cell" th:text="*{infoStats.outgoingSticker}">Cell 3</td>
        <td class="cell" th:text="*{infoStats.incomingSticker}">Cell 4</td>
      </tr>
      <tr>
        <td class="cell">Фото</td>
        <td class="cell" th:text="*{infoStats.allPhoto}">Cell 2</td>
        <td class="cell" th:text="*{infoStats.outgoingPhoto}">Cell 3</td>
        <td class="cell" th:text="*{infoStats.incomingPhoto}">Cell 4</td>
      </tr>
      <tr>
        <td class="cell">Видео</td>
        <td class="cell" th:text="*{infoStats.allVideo}">Cell 2</td>
        <td class="cell" th:text="*{infoStats.outgoingVideo}">Cell 3</td>
        <td class="cell" th:text="*{infoStats.incomingVideo}">Cell 4</td>
      </tr>
      <tr>
        <td class="cell">Документы</td>
        <td class="cell" th:text="*{infoStats.allDocument}">Cell 2</td>
        <td class="cell" th:text="*{infoStats.outgoingDocument}">Cell 3</td>
        <td class="cell" th:text="*{infoStats.incomingDocument}">Cell 4</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="cloud" id="cloud"></div>
  <div class="line" id="line"></div>
</div>
</body>
</html>