<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/error.css">
    <link rel="icon" href="img/icon.ico" type="image/png">
    <title>SeaSearch</title>
</head>

<body>
    <section class="form">
        <a href="/">
            <div class="form__title">
                <img class="form__img form__title-logo" src="img/icon.ico" />
                <h1 class="form__title-title">
                    SeaSearch
                </h1>
            </div>
        </a>

        <h2>
            404
        </h2>

        <h3>
            The page you are looking for not available!
        </h3>
    </section>
</body>

</html>