<!DOCTYPE html>
<html lang="Ru" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SeaSearch</title>
  <link rel="icon" href="img/icon.ico" type="image/png">
  <link rel="stylesheet" th:href="@{/style/index.css}" href="../static/style/index.css">
</head>

<body class="page">
<div class="form">
  <div class="form__title">
    <img class="form__title-logo" src="img/icon.ico"/>
    <h1 class="form__title-title">SeaSearch</h1>
  </div>

  <div sec:authorize="!isAuthenticated()">
    <a class="form__btn form__btn-tg" th:href="@{/login}">
      <img class="form__img" src="./img/ico/telegram.ico"/>
      Войти
    </a>

    <a class="form__btn form__btn-info" th:href="@{/info}">
      <img class="form__img" src="./img/ico/info.ico"/>
      Информация
    </a>

  </div>
</div>
</body>

</html>