<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/error.css">
  <link rel="icon" href="img/icon.ico" type="image/png">
  <title>SeaSearch</title>
</head>

<body>
<section class="form">
  <a href="/">
    <div class="form__title">
      <img class="form__img form__title-logo" src="img/icon.ico" />
      <h1 class="form__title-title">
        SeaSearch
      </h1>
    </div>
  </a>

  <p>
    В этот сервис можно авторизовываться только с помощью Telegram аккаунта. Он предназначен для того, чтобы анализировать свои личные сообщения. После авторизации Вы даете полный доступ к своим личным сообщениям, чтобы получать необходимые данные для корректной работы. Сообщения не будут нигде храниться, только во внутренней памяти веб-приложения, а после подведения итогов по анализу, они стираются из памяти. Здесь вы можете увидеть:
    1.	Облако слов из ваших самых популярных слов в употреблении.
    2.	Графика, которая иллюстрирует количество сообщений по дням.
    3.	Численные статистики по сообщениям.
    ВАЖНО! Telegram сервер позволяет получать только 100 сообщений в секунду, поэтому процесс может быть долгим. Вы можете запустить процесс, и заглянуть за результатом уже на следующий день.

  </p>

  <a class="form__btn form__btn-info" href="/">
    <img class="form__img" src="./img/ico/info.ico"/>
    Назад
  </a>
</section>
</body>

</html>