<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/icon.ico" type="image/png">
    <link rel="stylesheet" href="./style/login.css" />
    <title>SeaSearch. Авторизация</title>
</head>

<body class="page">

<div class="login-box">
    <div class="login__title">
        <img class="logo" src="./img/icon.ico" alt="">
        <h2 class="title">Авторизация</h2>
    </div>
    <form th:action="@{/login}" method="post" th:object="${inputTelegram}">
        <div class="user-box" th:if="*{steps[0]}">
            <input type="text" th:field="*{phoneNumber}" name="phoneNumber" required="" placeholder=""/>
            <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></label>
            <label th:if="${!#fields.hasErrors('phoneNumber')}">Телефонный номер</label>
        </div>
        <div class="user-box" th:if="*{steps[1]}">
            <input th:field="*{code}" type="text" name="code"/>
            <label th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></label>
            <label th:if="${!#fields.hasErrors('code')}">Код авторизации</label>
        </div>
        <div class="user-box" th:if="*{steps[2]}">
            <input th:field="*{password}" type="password" name="password"/>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
            <label th:if="${!#fields.hasErrors('password')}">Пароль</label>
        </div>
        <div class="submit">
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </div>
    </form>
</div>
</body>

</html>